
.social-icon.tw {
  background-color: black !important;   /* black background */
  color: white;              /* white X icon */
}

.social-icon.tw:hover {
  background-color: #333;    /* slightly lighter on hover */
}

.photo1 {
  background: url('worriedman12.jpeg') center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height:400px; /* ✅ add height so you can see it */
  margin-top: 0px;
  margin-left: -20px;
}

.text h1{
  font-size: 45px;
  white-space: nowrap;
  text-align: center; 
  margin-top:  -280px;
  font-family:inherit;
  align-self: center;
  display: flex;
  width:10px ;
  align-self: center;
  justify-content: center;
  height:50px ;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: aliceblue;
  left: 800px;
  margin-left: 750px;
  font-weight: 100;
  
}


.text2 p{
  font-size: 25px;
  white-space: nowrap;
  text-align: center; 
  margin-bottom:  20px;
  font-family:inherit;
  align-self: center;
  display: flex;
  width:10px ;
  align-self: center;
  justify-content: center;
  height:50px ;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  margin-left: 750px;
  font-weight: 100;
  
}

.text3 h1{
  font-size: 40px;
  white-space: nowrap;
  text-align: center; 
  margin-top: 220px;
  font-family:inherit;
  align-self: center;
  display: flex;
  width:10px ;
  align-self: center;
  justify-content: center;
  height:50px ;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  margin-left: 750px;
  font-weight: 100;
  
}

.text4 p{
  font-size: 21px;
  white-space: nowrap;
  text-align: center; 
  margin-top: 20px;
  font-family:inherit;
  align-self: center;
  display: flex;
  width:20px ;
  align-self: center;
  justify-content: center;
  height:50px ;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  margin-left: 750px;
  font-weight: 100;
  
}
a {
  text-decoration: none; /* removes underline */
}

.photo2 {
  background: url('istockphoto-2162869630-612x612.jpg') center center/cover no-repeat;
  display: flex;
  justify-content: left;
  align-items: left;
  width: 470px;
  height: 400px; /* keeps full image visible */
  object-fit: contain; /* shows full image */
  position: relative;
  left:10px;
  top:20px;
  
}

.photo2text h1{
  font-size: 21px;
  white-space: nowrap;
  text-align: center; 
  position: relative;
  margin-bottom: -60px !important;
  font-family:inherit;
  align-self: center;
  display: flex;
  width:10px ;
  align-self: center;
  justify-content: center;
  height:10px ;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  margin-left: 220px;
  font-weight: 100;
  top: 340px;
  margin-right: -50px;
  
}


.photo3 {
  background: url('download\ \(1\).jpeg') center center/cover no-repeat;
  display: flex;
  justify-content: left;
  align-items: left;
  width: 520px;
  height: 400px; /* keeps full image visible */
  object-fit: contain; /* shows full image */
  position: relative;
  left:500px;
  bottom:380px;
  
}


.photo3text h1{
  font-size: 21px;
  white-space: nowrap;
  text-align: center; 
  position: relative;
  margin-bottom: -60px !important;
  font-family:inherit;
  align-self: center;
  display: flex;
  width:20px ;
  align-self: center;
  justify-content: center;
  height:50px ;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  margin-left: 240px;
  font-weight: 100;
  top: 340px;
  
}

.photo4 {
  background: url('favimage.jpg') center center/cover no-repeat;
  display: flex;
  justify-content: left;
  align-items: left;
  width: 500px;
  height: 400px; /* keeps full image visible */
  object-fit: contain; /* shows full image */
  position: relative;
  left:1040px;
  bottom:780px;
  
}

.photo4text h1{
  font-size: 21px;
  white-space: nowrap;
  text-align: center; 
  position: relative;
  margin-bottom: -60px !important;
  font-family:inherit;
  align-self: center;
  display: flex;
  width:20px ;
  align-self: center;
  justify-content: center;
  height:50px ;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  margin-left: 240px;
  font-weight: 100;
  top: 340px;
  
}

.textlast1 h1{
  font-size: 45px;
  white-space: nowrap;
  text-align: center; 
  margin-top:  -700px;
  font-family:inherit;
  align-self: center;
  display: flex;
  width:10px ;
  align-self: center;
  justify-content: center;
  height:50px ;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  left: 800px;
  margin-left: 750px;
  font-weight: 100;
  
  
}


.textlast2 p{
  font-size: 25px;
  white-space: nowrap;
  text-align: center; 
  margin-bottom:  20px;
  font-family:inherit;
  align-self: center;
  display: flex;
  width:10px ;
  align-self: center;
  justify-content: center;
  height:50px ;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  margin-left: 750px;
  font-weight: 100;
  top: 500px;
  
}

                                                                 


.lasttextphoto1 {                                                               /* last text images*/
  background: url('download\ \(4\).jpeg') center center/cover no-repeat;
  display: flex;
  justify-content: left;
  align-items: left;
  width: 470px;
  height: 400px; /* keeps full image visible */
  object-fit: contain; /* shows full image */
  position: relative;
  left:10px;
  margin-top:5px;
  bottom:-30px;
  
}

.lasttextphoto1text h1{
  font-size: 21px;
  white-space: nowrap;
  text-align: center; 
  position: relative;
  margin-bottom: -60px !important;
  font-family:inherit;
  align-self: center;
  display: flex;
  width:20px ;
  align-self: center;
  justify-content: center;
  height:50px ;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  margin-left: 220px;
  font-weight: 100;
  top: 410px;
  
}


.lasttextphoto2 {
  background: url('download\ \(5\).jpeg') center center/cover no-repeat;
  display: flex;
  justify-content: left;
  align-items: left;
  width: 500px;
  height: 400px; /* keeps full image visible */
  object-fit: contain; /* shows full image */
  position: relative;
  left:500px;
  bottom:370px;
  
}


.lasttextphoto2text h1{
  font-size: 21px;
  white-space: nowrap;
  text-align: center; 
  position: relative;
  margin-bottom: -60px !important;
  font-family:inherit;
  align-self: center;
  display: flex;
  width:20px ;
  align-self: center;
  justify-content: center;
  height:50px ;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  margin-left: 240px;
  font-weight: 100;
  top: 410px;
  
}

.lasttextphoto3 {
  background: url('download\ \(7\).jpeg') center center/cover no-repeat;
  display: flex;
  justify-content: left;
  align-items: left;
  width: 500px;
  height: 400px; /* keeps full image visible */
  object-fit: contain; /* shows full image */
  position: relative;
  left:1040px;
  bottom:770px;
  
  
}

.lasttextphoto3text h1{
  font-size: 21px;
  white-space: nowrap;
  text-align: center; 
  position: relative;
  margin-bottom: -60px !important;
  font-family:inherit;
  align-self: center;
  display: flex;
  width:20px ;
  align-self: center;
  justify-content: center;
  height:50px ;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  margin-left: 240px;
  font-weight: 100;
  top: 410px;
  
}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
  position: relative;
  right: 30px;
}

.social-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 24px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin-top: -700px;
}

/* ✅ Real brand colors */
.social-icon.insta {
  background: radial-gradient(circle at 30% 107%, 
    #fdf497 0%, 
    #fdf497 5%, 
    #fd5949 45%, 
    #d6249f 60%, 
    #285AEB 90%);
}   /* Instagram gradient */

.social-icon.fb { background-color: #1877F2; }      /* Facebook */
.social-icon.yt { background-color: #FF0000; }      /* YouTube */
.social-icon.tw { background-color: #1DA1F2; }      /* Twitter */
.social-icon.li { background-color: #0077B5; }      /* LinkedIn */

/* Hover effect */
.social-icon:hover {
  transform: scale(1.15);
  opacity: 0.85;
}

#quote-for-you {
  background-color: #127227;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  right:50px;
}
#quote-for-you:hover {
  background-color: #11631d;
}
.social-icon i {
  font-size: 24px;             /* Icon size */
}

.word {
  display: flex;              /* Enable flexbox */
  justify-content: center;    /* Center horizontally */
  position: relative;         /* Allows small shift */
  right: 30px;
  left: -24px;                 /* Move slightly to the right */
  margin-top: -550px;           /* Adjust vertical spacing */
  font-family: initial;

}

.word a {
  color: #000000;       /* Dark blue */
  text-decoration: underline;  /* Keep underline */
  font-weight: bold;
  font-size:25px;
}

.word a:visited {
  color: #000000;       /* Keep dark blue after visited */
}

.word a:hover {
  color: #000000;       /* Slightly darker on hover */
  cursor: pointer;
}

.lasttext p {
  font-size: 13px !important;   /* Force smaller size */
  line-height: 1.3;
  text-align: center;
  color: #000000;
  width: 50%;                   /* Restrict width */
  margin: 0 auto;               /* Center paragraph */
  margin-top: 50px;
  position: relative;
  right:25px;
  top:90px;
}

.footer {
  margin-top: 300px;
  position: relative;
  right: 35px ;
  left: 600px;
  color: #757474;
  font-style: italic;
}
