
body {
    background-color: white;
  
    
}

.social-icon.tw {
  background-color: black !important;   /* black background */
  color: white;              /* white X icon */
}

.social-icon.tw:hover {
  background-color: #333;    /* slightly lighter on hover */
}

.background {
   width: 100vw;
   height: 200px;
   background: url('psychology.jpg') center center/cover no-repeat; 
   display: flex; flex-direction: column; 
   justify-content: center; 
   align-items: center; 
   margin: 0; 
   padding: 50px 100px; 
   text-align: center; 
   text-shadow: 0 2px 8px rgba(0,0,0,0.6);
    position: relative; 
    background-position: center 20px; 
    padding-top: 150px;
    top:-20px;
   }

.text{
  font-size: 25px;
  white-space: nowrap;
  text-align: center; 
  margin:  0px;
  font-weight: 100px;
  font-family:initial;
  align-self: center;
  display: flex;
  width:10px ;
  align-self: center;
  justify-content: center;
  height:5px ;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: aliceblue;
  left: 100px;
  margin-right: 400px;
  font-weight: lighter;
  position: relative;
  bottom:100px;
  font-weight: 800;
}



.text-content {
  right: 50px;
  text-align: center; /* text aligned to right side */
  align-self: center;
  font-size: 200px;
  border-radius: 500px;
  animation-name: moveForward;
  animation-fill-mode: forwards;
  
 
}


.image-content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-self: center; 
  padding: 10px 50px;
  size:-50px;
  width: 200px;      /* sets the image width */
  height: 400px;      /* keeps aspect ratio */

  
}
.top-text {
  color:black;
  align-self: center;
  padding: 90px 20px;
  text-align: center;
  font-size: 1rem;
  margin:  0px;
  font-weight: 10;
  font-family:initial;
  height: 100px;
  
}
.top-textt {
  position: relative; /* needed for right offset */
  text-align: center; /* centers the text */
  font-size: 20px;
  border-radius: 1000px;
  animation-name: moveForward;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  color: rgb(134, 126, 126);
  font-style: italic;
  height: 20px;

}
